/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

#root { 
  width : 100vw;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 7vh;
}